* {
    box-sizing: border-box;
    -os-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}

:root{
    --primary-color: #28CB8B;
    --secondary-color: #263238;
    --info-color: #263238;
}

button:hover {
    cursor: pointer;
}

/*second-sec*/
.sec-background {
    width: 100%;
    height: 416.95px;
    padding: 66.82px 100.23px 66.82px 100.23px;
    background-color: #F5F7FA;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sec-background div:first-of-type {
    width: 457.32px;
    height: 192.9px;
    display: flex;
    flex-direction: column;
}

.sec-background div:first-of-type p:nth-child(1) {
    font-size: 44.55px;
    font-weight: 600;
    color: #4D4D4D;
    line-height: 52.9px;
}

.sec-background div:first-of-type p:nth-child(2) {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 44.55px;
    line-height: 52.9px;
    margin-bottom: 11.14px;
}

.sec-background div:first-of-type p:nth-child(3) {
    color: #717171;
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.71px;
}

.sec-background div:first-of-type button {
    width: 88.55px;
    height: 36.49px;
    border-radius: 2.78px;
    padding: 9.74px 22.27px 9.74px 22.27px;
    margin-top: 22.27px;
    border: none;
    background-color: #4CAF4F;
    color: #FFFFFF;
    font-size: 11.14px;
    line-height: 16.71px;
    text-align: center;
    font-weight: 500;
}

.sec-background div:first-of-type button:focus {
    outline: solid 2px #4D4D4D;
}

.sec-background div:nth-child(2) {
    width: 272.16px;
    height: 283.3px;
    background-image: url(../images/sec-2.png);
}

/*fifth-sec*/
.fifth-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 301.4px;
    padding: 0px 100.23px 0px 100.23px;
}

.fifth-sec div:first-child {
    background-image: url(../images/sec-5.png);
    width: 307.66px;
    height: 301.4px;
}

.fifth-sec div:nth-child(2) {
    width: 460.1px;
    height: 187.9px;
    font-display: flex;
    flex-direction: column;
}

.fifth-sec div:nth-child(2) p:first-child {
    margin-bottom: 22.27px;
    font-weight: 600;
    font-size: 25.06px;
    line-height: 30.63px;
    color:#4D4D4D;
    width: 418.34px;
    height: 62px;
}

.fifth-sec div:nth-child(2) p:nth-child(2){
    width: 418.34px;
    height: 56px;
    font-weight: 400;
    font-size: 9.74px;
    line-height: 13.92px;
    color: #717171;
}

.fifth-sec div:nth-child(2) button{
    width: 105.55px;
    height: 36.49px;
    border-radius: 2.78px;
    padding: 9.74px 22.27px 9.74px 22.27px;
    margin-top: 18.1px;
    background-color: #4CAF4F;
    font-weight: 500;
    font-size: 11.14px;
    line-height: 16.71px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.fifth-sec div:nth-child(2) button:focus {
    outline: solid 2px #4D4D4D;
}


/* start style section-img-txt-icon */
.section-img-txt-icon {
    margin-top: 10px;
    background-color: #F5F7FA;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 100px;
    height: 400px;
    padding-top: 56px;
}
.img1 {
    width: 230px;
    height: 260px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.txt-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
}
.txt .maecenas {
    width: 157%;
    color:#717171;
}
.txt h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    color:#4CAF4F;
}
.txt .british {
    color:#89939E;
    margin-bottom: 10px;
}
.icon-txt h4 {
    color:#4CAF4F;
    margin-top: 13px;
}
.material-symbols-outlined {
    width: 70px;
    height: 1px;
    background-color: black;
    margin-top: 15px;
    background-color: #4CAF4F;;
}
.right {
    margin-left: 10px;
    width: 10%;
}
/* end style section-img-txt-icon */

/* start style section-txt-img-text-icon */
.section-txt-img-text-icon {
    height: 400px;
}
.caring-nexcent h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#4D4D4D;
    font-weight: 600;
    font-size: 26px;
}
.caring-nexcent p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 400;
    font-size: 15px;
    color: #717171;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 20px;
}
.div-txt-img-text-icon {
    display: block;
}
.div-img-div-txt .div-img {
    position: absolute;
    z-index: 10;
}
.div-img-div-txt .div-txt {
    position: absolute;
    background-color:#F5F7FA;
    width: 230px;
    height: 150px;
    z-index: 20;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 15px;
}
.div-img img {
    width: 260px;
    height: 200px;
    border-radius: 10px;
}
.div-txt p {
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    color:#717171;
    line-height: 25px;
}
.div-txt h3 {
    text-align: center;
    margin-top: 25px;
    color:#4CAF4F;
}
.div-txt h3:hover {
    color: #00ff08;
}
.d1 {
    width: 5%;
    height: 260px;
}
.d2 {
    width: 5%;
    height: 260px;
}
.d3 {
    width: 5%;
    height: 260px;
}
.readmore {
    margin-top: 52px!important;
}
/* end style section-txt-img-text-icon */

/* start media min 828px */
@media screen and (min-width: 828px) {
    .section-img-txt-icon {
        display: flex;
        justify-content: center;
    }
    .txt {
        margin-left: 15%;
    }
    .icon-txt {
        display: flex;
        justify-content: space-between;
    }
    .txt .maecenas {
        width: 550px;
        height: 175px;
    }
}
/* end media min 828px */

/* start media min 870 */
@media screen and (min-width: 870px) {
    .div-txt-img-text-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 20px;
    }
}
/* end media min 870 */
